
*{
  margin: 0;
  padding: 0;
  background-color: rgb(228,255,217);
  box-sizing: border-box;
}

.App h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  padding: 23px;
  font-size: 53px;
  background: cadetblue;
}


.App button{
  float: right;
  margin: 18px;
  padding: 2px;
  font-weight: 600;
  border: 5px solid black;
  border-radius: 20px;
  width: 100px;
  height: 40px;
  color: black;
  background: purple;
  box-shadow: 2px 2px;
  transition: 0.2s ease;
}
.App button:hover{
  cursor: pointer;
  background: white;
  transform: scale(1.04);
}

#load{
  text-align: center;
  justify-content: center; 
}

.column{
  float: left;
  width: 32%;
  margin-top: 7px;
}
.users {
  border: 3px solid black;
  max-width: 487px;
  margin: 70px 21px;
  text-align: right;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 49px;
  border-radius: 12px;
  background-color: antiquewhite;
  transition: 0.2s ease;
}
.users:hover{
  cursor: pointer;
  transform: scale(1.04);
}
.avatar {
  border-radius: 12%;
  transition: 0.2s ease;
  border: 2px solid black;
}
.avatar:hover{
  cursor: pointer;
  transform: scale(1.04);
}
.id {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 0px;
  background: antiquewhite;
}
.name {
  padding-top: 7px;
  font-size: 26px;
  font-weight: bold;
  background: antiquewhite;
  font-family: cursive;
}
.email {
  color: black;
  font-size: 20px;  
  background: antiquewhite;
  font-weight: bold;
  font-family: monospace;
 }